# Smart Wi-Fi IDS Environment Configuration

# Google Gemini API Key
GEMINI_API_KEY=AIzaSyCXJ_1qDBQMAYd1AJTlh5bQ_JDDVj5pBkU

# SMTP Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=m.r.m.rifthy@gmail.com
SMTP_PASS=fejwftwujimsgzjc

# Database Configuration
DATABASE_URL=sqlite+aiosqlite:///./wifi_ids.db

# Network Scanning
DEFAULT_INTERFACE=eth0
SCAN_MODE=real # real or simulation
